body{
    background-color:  rgba(158, 209, 234, 0.707);;;
}

p{

    font-style: italic;
}
li{
    color: chocolate;
}
body{
    padding: 100px;
background-color:  rgba(158, 209, 234, 0.707);;;
}